*{
    font-size: 150;
}
.description img{
    width: 500px;
    height: 500px;
}

.description h6{
    font-style: italic;
    font-size: 20px;
}

.column img{
    width: 300px;
    height: 200px;
}
